<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Física Básica</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Física Básica</h1>
        
        <div class="user-icon">
            <img src="../static/iconeusu.jfif" alt="Ícone de Usuário">
        </div>
    </header>

    <div class="container">
       
        <div id="menuToggle" class="menu-btn">
            <span class="arrow">&#9664;</span>
        </div>

        
        <nav class="sidebar hidden" id="sidebar">
            <ul>
                <li class="module">
                    <span>Mecânica</span>
                    <ul class="sub-menu hidden">
                        <li class="submodule">
                            <span>Gravitação</span>
                            <ul class="sub-sub-menu hidden">
                                <li><a href="#">Conteúdos</a></li>
                                <li><a href="#">Questões</a></li>
                            </ul>
                        </li>
                        <li class="submodule">
                            <span>Lançamentos</span>
                            <ul class="sub-sub-menu hidden">
                                <li><a href="#">Conteúdos</a></li>
                                <li><a href="#">Questões</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="module">
                    <span>Ótica</span>
                    <ul class="sub-menu hidden">
                        <li class="submodule">
                            <span>Reflexão</span>
                            <ul class="sub-sub-menu hidden">
                                <li><a href="#">Conteúdos</a></li>
                                <li><a href="#">Questões</a></li>
                            </ul>
                        </li>
                        <li class="submodule">
                            <span>Refração</span>
                            <ul class="sub-sub-menu hidden">
                                <li><a href="#">Conteúdos</a></li>
                                <li><a href="#">Questões</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        
        <main>
            <p>Bem-vindo à Física Básica! Selecione um módulo para começar.</p>
        </main>
    </div>

    
    <div class="login-button hidden" id="loginButton">
        <button>Login</button>
    </div>

    
    <div class="post-question-button">
        <img src="../static/iconequest.jfif" alt="Postar Questão">
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
